<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
<div class="card card-flush h-lg-100" id="kt_contacts_main">
    <!--begin::Card header-->
    <div class="card-header pt-7" id="kt_chat_contacts_header">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
            <!-- <span class="svg-icon svg-icon-1 me-2"> -->
            <!--begin::Svg Icon | path: assets/media/icons/duotune/technology/teh009.svg-->
            <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M8 18L10 14L9.60001 13.2C9.30001 12.6 9.69999 12 10.4 12H13.7C14.3 12 14.7 12.7 14.5 13.2L14 14L16 18H8ZM6 6H4V8H6V6ZM7 11C7 11.6 7.4 12 8 12C8.6 12 9 11.6 9 11V10H7V11ZM10 6V8H20V6H10Z"
                        fill="currentColor" />
                    <path opacity="0.3"
                        d="M21 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V21C22 21.6 21.6 22 21 22ZM20 4H4V18H20V4ZM10 9V6H6V9C6 9.6 6.4 10 7 10H9C9.6 10 10 9.6 10 9Z"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
            <!-- </span> -->
            <!--end::Svg Icon-->
            <h2  *ngIf="CUPON_SELECTED"> EDIT CUPON:  #{{ CUPON_SELECTED._id}}</h2>
        </div>
        <!--end::Card title-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-5">
        <!--begin::Form-->
        <form id="kt_ecommerce_settings_general_form" class="form fv-plugins-bootstrap5 fv-plugins-framework"
            action="#">

            <!--TITULOS Y SUB-TITULOS -->
            <div class="row mb-7 fv-plugins-icon-container">
                <div class="col-3">

                    <label class="fs-6 fw-bold form-label mt-3">
                        <span class="required">Codigo</span>
                        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                            data-bs-original-title="Enter the contact's name."
                            aria-label="Enter the contact's name."></i>
                    </label>

                    <input type="text" class="form-control form-control-solid mb-7" [(ngModel)]="code" name="code">
                </div>

                <div class="col-4">
                    <div class="row">

                        <div class="col-12">
                            <label class="fs-6 fw-bold form-label mt-3">
                                <span class="required">Tipo de descuento</span>
                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                                    data-bs-original-title="Enter the contact's name."
                                    aria-label="Enter the contact's name."></i>
                            </label>
                        </div>

                        <div class="col-6">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                [ngClass]="{'active': type_discount === 1}" data-kt-button="true">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="usage"
                                        [checked]="type_discount === 1" (click)=" selectedTipeDiscount(1)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Porcentaje % </span>
                                </span>
                            </label>
                        </div>
                        <div class="col-6">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                [ngClass]="{'active': type_discount === 2}" data-kt-button="true">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="usage"
                                        [checked]="type_discount === 2" (click)=" selectedTipeDiscount(2)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Monto Fijo</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <label class="fs-6 fw-bold form-label mt-3">
                        <span class="required">Descuento</span>
                        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                            data-bs-original-title="Enter the contact's name."
                            aria-label="Enter the contact's name."></i>
                    </label>

                    <input type="number" class="form-control form-control-solid mb-7" [(ngModel)]="discount"
                        name="discount">
                </div>


                <div class="row mb-7 fv-plugins-icon-container">
                    <div class="col-4">
                        <div class="row">

                            <div class="col-12">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Tipo de uso</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                                        data-bs-original-title="Enter the contact's name."
                                        aria-label="Enter the contact's name."></i>
                                </label>
                            </div>

                            <div class="col-6">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                    [ngClass]="{'active': type_count === 1}" data-kt-button="true">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="count"
                                            [checked]="type_count === 1" (click)=" selectedTypeCount(1)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Ilimitado </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                    [ngClass]="{'active': type_count === 2}" data-kt-button="true">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="count"
                                            [checked]="type_count === 2" (click)=" selectedTypeCount(2)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Limitado</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-4" *ngIf="type_count === 2">
                        <label class="fs-6 fw-bold form-label mt-3">
                            <span class="required"># de uso</span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                                data-bs-original-title="Enter the contact's name."
                                aria-label="Enter the contact's name."></i>
                        </label>

                        <input type="number" class="form-control form-control-solid mb-7" [(ngModel)]="num_use"
                            name="num_use">
                    </div>
                </div>

                <div class="row mb-7 fv-plugins-icon-container">
                    <div class="col-4">
                        <div class="row">

                            <div class="col-12">
                                <label class="fs-6 fw-bold form-label mt-3">
                                    <span class="required">Tipo de cupon</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                                        data-bs-original-title="Enter the contact's name."
                                        aria-label="Enter the contact's name."></i>
                                </label>
                            </div>

                            <div class="col-6">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                    [ngClass]="{'active': type_cupon === 1}" data-kt-button="true">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="cupon"
                                            [checked]="type_cupon === 1" (click)=" selectedTypeCupon(1)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Curso </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label
                                    class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                    [ngClass]="{'active': type_cupon === 2}" data-kt-button="true">
                                    <span
                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                        <input class="form-check-input" type="radio" name="count"
                                            [checked]="type_cupon === 2" (click)=" selectedTypeCupon(2)">
                                    </span>
                                    <span class="ms-5">
                                        <span class="fs-6 fw-bolder mb-1 d-block">Categoria</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" *ngIf="type_cupon === 1">
                        <label class=" fs-6 fw-bold form-label mt-3">
                            <span class="required">Cursos: </span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""></i>
                        </label>

                        <select name="courses" id="" placeholder="Selec. Courses" [(ngModel)]="course_id"
                            class=" form-control form-check-solid fw-bolder">
                            <option value="">Select.</option>

                            <ng-container *ngFor="let COURSE of COURSES">
                                <option [value]="COURSE._id">{{COURSE.title}}</option>
                            </ng-container>

                        </select>
                        <button class="btn btn-primary btn-sm my-2" (click)="addCourse()"> + </button>
                    </div>


                    <div class="col-3" *ngIf="type_cupon === 2">
                        <label class=" fs-6 fw-bold form-label mt-3">
                            <span class="required">Categorías: </span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""></i>
                        </label>
                    
                        <select name="categorie" id="" placeholder="Selec. Categorías" [(ngModel)]="categorie_id"
                            class=" form-control form-check-solid fw-bolder">
                            <option value="">Select.</option>
                    
                            <ng-container *ngFor="let CATEGORIE of CATEGORIES">
                                <option [value]="CATEGORIE._id">{{CATEGORIE.title}}</option>
                            </ng-container>
                    
                        </select>
                        <button class="btn btn-primary btn-sm my-2" (click)="addCategorie()"> + </button>
                    </div>

                    <div class="col-5" *ngIf="type_cupon === 1">

                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead>
                                    <tr class="fw-bolder text-muted bg-light">
                                        <th class="p-5">Curso</th>
                                        <th class="">Price</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>
                                    <ng-container *ngFor="let COURSE_SELEC of COURSE_SELECTED">
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-50px me-5">
                                                        <img [src]="COURSE_SELEC?.imagen" class=""
                                                            alt="">
                                                    </div>
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <a href="#"
                                                            class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{COURSE_SELEC?.title}}</a>
                                                        <span class="text-muted fw-bold text-muted d-block fs-7">{{COURSE_SELEC?.categorie.title}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#"
                                                    class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{COURSE_SELEC?.price_usd}} USD </a>
                                                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Price</span> -->
                                            </td>

                                            <td class="text-end">
                                                <a href="#" onclick="return false" (click)="deleteCourse(COURSE_SELEC)"
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                                    <span class="svg-icon svg-icon-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none">
                                                            <path
                                                                d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                                fill="currentColor"></path>
                                                            <path opacity="0.5"
                                                                d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                                fill="currentColor"></path>
                                                            <path opacity="0.5"
                                                                d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                                fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>



                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>

                    <div class="col-5" *ngIf="type_cupon === 2">

                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table align-middle gs-0 gy-4">
                                <!--begin::Table head-->
                                <thead>
                                    <tr class="fw-bolder text-muted bg-light">
                                        <th class="">Categoria</th>
                                        <th class="">Price</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody>
                                    <ng-container *ngFor="let CATEGORIE_SELEC of CATEGORIE_SELECTED">
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-50px me-5">
                                                        <img [src]="CATEGORIE_SELEC?.imagen" class=""
                                                            alt="">
                                                    </div>
                                                    <div class="d-flex justify-content-start flex-column">
                                                        <a href="#"
                                                            class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{CATEGORIE_SELEC?.title}}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- <a href="#"class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{COURSE_SELC.price_usd}} USD </a> -->
                                                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Price</span> -->
                                            </td>

                                            <td class="text-end">
                                                <a href="#" onclick="return false;" (click)="deleteCategorie(CATEGORIE_SELEC)"
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                                    <span class="svg-icon svg-icon-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none">
                                                            <path
                                                                d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                                fill="currentColor"></path>
                                                            <path opacity="0.5"
                                                                d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                                fill="currentColor"></path>
                                                            <path opacity="0.5"
                                                                d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                                fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-container>



                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                    </div>


                </div>

                <!--begin::Separator-->
                <div class="separator mb-7"></div>
                <!--end::Separator-->
                <!--begin::Action buttons-->
                <div class="d-flex justify-content-end">

                    <!--begin::Button-->
                    <button type="button" class="btn btn-primary" (click)="save()">
                        <span class="indicator-label">Save</span>
                        <span class="indicator-progress">Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                    <!--end::Button-->
                </div>
                <!--end::Action buttons-->
            </div>
        </form>
        <!--end::Form-->
    </div>
    <!--end::Card body-->
</div>